.custom-md {
  h1 {
    @apply text-3xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .anchor {
      @apply transition -m-0.5 ml-[0.2ch] p-0.5 select-none opacity-0 no-underline !important;

      .anchor-icon {
        @apply mx-[0.45ch] !important;
      }
    }

    &:hover {
      .anchor {
        @apply opacity-100 !important;
      }
    }

    a:after {
      content: "" !important;
    }
  }

  a:not(.no-styling) {
    @apply relative bg-none link font-medium text-[var(--primary)]
        underline decoration-[var(--link-underline)] decoration-1 decoration-dashed underline-offset-4;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    display: inline-block;

    &:hover,
    &:active {
      @apply decoration-transparent;
      background: var(--btn-plain-bg-hover);
      border-bottom: 1px dashed var(--link-hover);
      text-decoration: none;
    }

    &:after {
      content: "↗";
    }
  }

  * mark,
  * mark *,
  mark * {
    background-color: var(--primary);
    color: black;
  }

  code {
    @apply bg-[var(--inline-code-bg)] text-[var(--inline-code-color)] px-1 py-0.5 rounded-md overflow-hidden;

    font-family: "Maple Mono Normal Medium", "HarmonyOS Sans SC Medium";
    font-weight: 400;
    &:before {
      content: none;
    }
    &:after {
      content: none;
    }

    counter-reset: line;
    span.line {
      &:before {
        @apply text-white/25 mr-4 w-4 inline-block;
        content: counter(line);
        counter-increment: line;
        direction: rtl;
      }
      &:last-child:empty,
      &:last-child:has(> span:empty:only-child) {
        display: none;
      }
    }

    cursor: pointer;

    margin-left: 2px;
    margin-right: 2px;
  }

  .expressive-code .ec-line.active {
    background-color: #2f3347; /* 高亮背景 */
    /* left: -1rem;   把背景往左扩展 */
  }

  td code {
    font-size: 14px;
  }

  pre code {
    cursor: text;
  }

  strong code {
    font-weight: 600;
  }

  .copy-btn {
    all: initial;
    @apply btn-regular-dark opacity-0 shadow-lg shadow-black/50 absolute active:scale-90 h-8 w-8 top-3 right-3 text-sm rounded-lg transition-all ease-in-out z-20 cursor-pointer;
  }
  .frame:hover .copy-btn {
    opacity: 1;
  }

  .copy-btn-icon {
    @apply absolute top-1/2 left-1/2 transition -translate-x-1/2 -translate-y-1/2 w-4 h-4 fill-white pointer-events-none;
  }
  .copy-btn .copy-icon {
    @apply opacity-100 fill-white dark:fill-white/75;
  }
  .copy-btn.success .copy-icon {
    @apply opacity-0 fill-[var(--deep-text)];
  }
  .copy-btn .success-icon {
    @apply opacity-0 fill-white;
  }
  .copy-btn.success .success-icon {
    @apply opacity-100;
  }

  .expressive-code {
    @apply my-4;
    ::selection {
      @apply bg-[var(--codeblock-selection)];
    }
  }

  ul,
  ol {
    li::marker {
      @apply text-[var(--primary)];
    }
  }

  blockquote {
    @apply not-italic border-transparent relative;
    font-weight: inherit;
    font-size: 0.95rem;
    border-radius: calc(var(--ec-brdRad) + var(--ec-brdWd));
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: var(--blockquote-bg);

    &:before {
      /*@apply content-[''] absolute block transition bg-[var(--btn-regular-bg-hover)] h-full w-1 rounded-full;*/
      @apply content-[''] absolute block transition bg-[var(--primary)] h-full w-1 rounded-full;
      height: unset !important;
      left: -0.22rem;
      top: 0.7rem;
      bottom: 0.7rem;
    }

    /* Remove the double quotes from default styles */
    p:before,
    p:after {
      @apply content-none;
    }

    .expressive-code,
    p {
      margin-right: 1rem;
    }
  }

  .katex-display-container {
    max-width: 100%;
    overflow-x: auto;
    margin: 1em 0;
  }

  p > img {
    display: block;
    margin: auto;
  }
  .expressive-code .ec-line .code {
    padding-left: 0.5rem;
  }
}

#toc-inner-wrapper {
  background-color: var(--card-bg);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.03);
}
